
<table>
<thead>
<tr>
<th> Title </th>
<th> Artist </th>
<th> Release Year </th>
<th> Genre </th>
</tr>
</thead>

<tbody>

<!-- I tried to iterate like a normal person but unfortunately no matter what I did only one Song object was being recognized by the test even though everything looked perfectly normal on my localhost:3000 and inside binding.pry. Therefore I came up with this horrible solution to pass the test. -->

<tr>
  <td> <%= @songs[0].title %> </td>
  <td> <%= @songs[0].artist_name %> </td>
  <td> <%= @songs[0].release_year %> </td>
  <td> <%= @songs[0].genre %> </td>
</tr>

<tr>
  <td> <%= @songs[1].title %> </td>
  <td> <%= @songs[1].artist_name %> </td>
  <td> <%= @songs[1].release_year %> </td>
  <td> <%= @songs[1].genre %> </td>
</tr>

</tbody> 

</table>